/*
    Applies to: mail.google.com
    
    Removes the "important" notifications. I didn't find them helpful
*/
div.N92wfe
{
    border: none;
    margin-top: 8px;
}

.mq
{
    display: none;
}

.WA
{
    display: none;
}