/*
    Applies to: http://www.wizards.com/dnd/Article*, http://www.wizards.com/DnD/Article*
    
    Improved typography and margins for the Wizards D&D blog. It was seriously terrible.
*/
.Content .ModuleContent.ArticleContentWrapper
{
    font-size: 1em;
    width: 80%;
    margin: 0 10%;
    text-align: justify;
    line-height: 1.2em;
}